<%= render partial: 'sessions/user_errors', locals: {user: @user}%>

<div class="text-center">  

  <h1 class="h2 mb-3">Create New User</h1>

  <%= form_for @user, html: {:class => "form-signin"} do |f| %>
    
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>

    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>

    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>

    <%= f.submit class: "btn btn-lg btn-primary btn-block" %>

  <% end %>
</div>