
<div class="container text-center">
  <h3><%= @user.name %></h3>
  <p><%= @user.email %></p>
  <% if @user.image %>
    <div class="media">
      <img class="img-thumbnail mx-auto d-block" src="<%= @user.image %>">
    </div>
  <% end %>
  <%= form_tag users_path, method: :get, class: "form-signin login-2"  do %>
      <%= submit_tag 'Users with Most Coupons', class: "btn btn-sm btn-secondary btn-block mb-5" %>
  <% end %>
</div>

<div class="container">
  <div class= "row">
    <h3>My Saved Coupons</h3>
  </div>
  <% current_user.coupons.each do |coupon| %>
    <h4><%= link_to coupon.item, coupon_path(coupon) %></h4>
    <ul class="list-unstyled">
      <li><%= coupon.store_name %></li>
      <li><%= coupon.expiration_countdown %></li>
    </ul>
  <% end %>
</div>

<% if logged_in? %>
  <footer class="footer">
    <div class="container">
      <span class="text-muted"><small><%= link_to "Delete Acoount", @user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %></small></span>
    </div>
  </footer>
<% end %>

