
<div class="container text-center">
  <h3><%= @user.name %></h3>
  <p><%= @user.email %></p>
  <% if @user.image %>
    <div class="media">
      <img class="img-thumbnail mx-auto d-block" src="<%= @user.image %>">
    </div>
  <% end %>
</div>

<div class="container">
  <div class= "row">
    <h3>My Saved Coupons</h3>
  </div>
  <% current_user.coupons.each do |coupon| %>
    <h4><%= link_to coupon.item, coupon_path(coupon) %></h4>
    <ul class="list-unstyled">
      <li><%= coupon.store_name %></li>
      <li><%= coupon.expiration_countdown %></li>
    </ul>
  <% end %>
</div>

