
<div class="container text-center">
  <h3><%= @user.name %></h3>
  <p><%= @user.email %></p>
  <div class="media">
    <img class="img-thumbnail mx-auto d-block" src="<%= @user.try(:image) %>">
  </div>
</div>

<div class="container">
  <% current_user.coupons.each do |coupon| %>
    
    <ul class="list-unstyled">
      <h4><%= link_to coupon.item, coupon_path(coupon) %></h4>
      <li><%= coupon.store_name %></li>
      <li><%= coupon.expiration_countdown %></li>
    </ul>
  <% end %>
</div>

