<% if @coupon.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show">

    <ul>
    <% @coupon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
<% end %>

<div class="text-center">
  <h1 class="h2 mb-3">Update Coupon</h1>

  <%= form_for @coupon, html: {:class => "form-signin"} do |f| %>
      <%= store_id_field(@coupon, f) %>

      <%= f.text_field :item, placeholder: "Item Name", class: "form-control"  %>

      <%= f.text_field :coupon_code, placeholder: "Coupon Code", class: "form-control"  %>

      <%= f.text_area :offer_description, placeholder: "Offer Description", class: "form-control mb-3"  %>

      <%= f.label :expiration_date, class: "p" %>

      <%= f.date_field :expiration_date, min: Date.today, placeholder: "Expiration Date", class: "form-control mb-3"  %>

      <%= f.submit class: "btn btn-lg btn-primary btn-block"%>


  <% end %>

  <%= form_tag coupon_path(@coupon), method: :delete, class: "form-signin login-2" do %>
    <%= submit_tag "Delete Coupon",  class: "btn btn-md btn-secondary btn-block" %>
  <% end %>

</div>