<h1>Coupons Index Page</h1>

<div>
  <% @coupons.each do |coupon| %>
    <ul>
      <li><%= coupon.store_name %></li>
      <li><%= coupon.item %></li>
      <li>Code: <%= coupon.coupon_code %></li>
      <li>Expires: <%= coupon.expiration_date %></li>
      <li>Description: <%= coupon.offer_description %></li>
    </ul>
  <% end %>
</div>