

<div class="container">
  <div class="row">
    <h1 class="col text-center">Coupons Page</h1>
  </div>
  
  <%= form_tag coupons_path, method: :get, class: "col" do %>
    <div class="row">
      <h5 class="col text-left">Sort/Filter Coupons:</h5>
    </div>
    <div class="row">
      <%= select_tag "store_id", options_from_collection_for_select(@stores, "id", "name"), include_blank: true %>
    </div>
    <div class="row">
      <%= select_tag "date", options_for_select(["Expiring Soon", "Expiring Later"]), include_blank: true%>
    </div>
    <%= submit_tag "Sort"%>
  <% end %>
  <div class="row">
  <%= form_tag new_coupon_path(@coupon), method: :get  do %>
    <%= submit_tag 'New Coupon' %>
  <% end %>
  </div>
</div>

<div class="container">
  <% @coupons.each do |coupon| %>
    <div class="col">
      <ul class="list-unstyled">
        <h4><%= link_to coupon.item, coupon_path(coupon) %></h4>
        <ul>
          <li class="row"><%= coupon.store_name %></li>
          <li class="row">Description: <%= coupon.offer_description %></li>
          <li class="row"><%= coupon.expiration_countdown %></li>
        </ul>
      </ul>
    </div>
  <% end %>
</div>

