<h1>Coupons Page</h1>

<div class="sort">
  <h5>Sort Coupons:</h5>
  <%= form_tag coupons_path, method: :get do %>
    <%= select_tag "date", options_for_select(["Expiring Soon", "Expiring Later"]), include_blank: true %>
    <%= submit_tag "Sort" %>
  <% end %>
</div>

<div class="coupons">
  <% @coupons.each do |coupon| %>
    <div class="coupon">
    <h4><%= link_to coupon.item, coupon_path(coupon) %></h4> 
    <ul>
      <li><%= coupon.store_name %></li>
      <li>Description: <%= coupon.offer_description %></li>
      <li><%= coupon.expiration_countdown %></li>
    </ul>
    </div>
  <% end %>
</div>

<div>
<%= form_tag new_coupon_path(@coupon), method: :get do %>
  <%= submit_tag 'New Coupon' %>
<% end %>
</div>