<h1>Coupon Show Page</h1>
<table style="width:30%">
  <tr>
    <th>Item</th>
    <td><%= @coupon.item %></td>
  </tr>
  <tr>
    <th>Store</th>
    <td><%= @coupon.store_name %></td>
  </tr>
  <tr>
    <th>Code</th>
    <td><%= @coupon.coupon_code %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @coupon.offer_description %></td>
  </tr>
  <tr>
    <th>Expires</th>
    <td><%= @coupon.expires_on %></td>
  </tr>
</table>
<div>
<%= form_tag "/coupons/#{@coupon.id}/edit", method: :get do %>
  <%= submit_tag 'Update Coupon' %>
<% end %>
</div>