<div class="text-center container-list" id="coupons-list">
  <h1 class="h2 mb-3">Coupons</h1>
  {{#each this}}
    <ul class="list-unstyled mb-5">
      <h1 class="h4 text-left"><a href="/coupons/{{id}}" class="coupon-link" data-couponId="{{id}}">{{item}}</a></h1>
      <ul class="list-unstyled text-left">
        <li class="h6 store-link" data-storeId="{{store.id}}"><strong>{{ store.name }}</strong></li>
        <li>{{ offer_description }}</li>
        <li>Expires: {{ expiration_date }}</li>
      </ul>
    </ul>
  {{/each }}
</div>