<div class="text-center container-list" id="coupons-list">
  
  <button class="form-signin login-2 btn btn-md btn-primary btn-block mb-5" id="new-coupon-link">New Coupon</button>
  
</div>
<main role="main">
      <div class="album py-5 bg-light">
        <div class="container"> 
          <div class="row">

            {{#each this}}
            <div class="col-md-4 card-deck">
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h5 class="h4"><a href="/coupons/{{id}}" class="coupon-link" data-couponId="{{id}}">{{item}}</a></h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{store.name}}</h5>
                  <p class="card-text">{{offerDescription}}</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/coupons/{{id}}" class="coupon-link" data-couponId="{{id}}">View</a></button>
                      </div>
                      <small class="text-muted">{{expiresIn}}</small>
                    </div>
                  </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
      </div>

    </main>