<div class="text-center"> 
  <h1 class="h1 mb-3">Coupon</h1>
  <table style="width:70%" class="mb-4 form-signin">
    <tr>
      <th>Item</th>
      <td>{{ item }}</td>
    </tr>
    <tr>
      <th>Store</th>
      <td><a href="/stores/{{ store.id }}" data-storeId="{{ store.id }}" class="store-link">{{ store.name }}</a></td>
    </tr>
    <tr>
      <th>Code</th>
      <td>{{ couponCode }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ offerDescription }}</td>
    </tr>
    <tr>
      <th>Expires</th>
      <td>{{ expirationDate }}</td>
    </tr>
  </table>

  <div class="container-list">
  <button class="btn btn-md btn-primary btn-block mb-2" id="update-coupon" data-couponid="{{id}}">Update Coupon</button>
  <div class="form-signin login-2 btn-group mb-2" role="group" aria-label="Basic example">
    <button class="btn btn-sm btn-secondary" id="previous-coupon" data-couponid="{{id}}">Previous Coupon</button>
    <button class="btn btn-sm btn-secondary" id="next-coupon" data-couponid="{{id}}">Next Coupon</button>
  </div>
  {{ save_or_delete_from_profile }}
  </div>
  
</div>