<div class="text-center">
    <h1 class="h1 mb-3 ">STORES</h1>
    <!--<%= form_tag stores_most_coupons_path, method: :get, class: "form-signin login-2"  do %>
      <%= submit_tag 'Sort by Most Coupons', class: "btn btn-sm btn-secondary btn-block mb-5" %>
    <% end %> --->
    <button id="reverse-sort">Reverse Sort Stores</button>
</div>


<main role="main">
      <div class="album py-5 bg-light">
        <div class="container"> 
          <div class="row">

            {{#each this}}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h5 class="h4"><a href="/stores/{{ id }}" class="store-link" data-storeId="{{ id }}">{{ name }}</a></h5>
                </div>
                <div class="card-body">
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <ul class="list-unstyled text-left store-coupons" id="store-coupons-{{ id }}">
                      <button type="button" class="btn btn-sm btn-outline-secondary store-coupons-link" data-storeId="{{ id }}">Preview Store Coupons</button>
                      </ul>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
      </div>

    </main>